<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript" src="javascripts/js/personal.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">欧文<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->
	<div id="subComm" class="subComm">  
		<div class="tit">温馨提示 <i class="close"></i></div>  
		<div class="tipinfo">    
			<span class="icon"></span>    
			<div class="info">        
				<p>恭喜，评论成功！</p>  
			</div>  
		</div>  
		<span class="btn">确定</span>
	</div>
	<div id="ppIntroduce">
		<div class="ppTitle area">
			<div class="ppLogo">
				<span><img src="images/img/harden_descri.png" alt="哈登品牌"></span>
			</div>
			<div class="ppName">
				<h1>哈登的故事</h1>
		        <p>詹姆斯·哈登（James Harden），1989年8月26日出生于美国加利福尼亚州洛杉矶（ Los Angeles, California），美国职业篮球运动员，司职得分后卫，效力于NBA休斯顿火箭队。
詹姆斯·哈登于2009年通过选秀进入NBA，先后效力于雷霆队和火箭队，新秀赛季入选最佳新秀第二阵容，2011-12赛季当选最佳第六人，2013-14、2014-15赛季入选最佳阵容第一阵容，4次入选全明星阵容。
詹姆斯·哈登2012年随美国男篮获伦敦奥运会金牌，2014随美国队获西班牙篮球世界杯冠军。</p>
			    <div class="ppInfor">
			          <span>			          
			              <a target="_blank" href="/harden">哈登品牌专场&gt;&gt;</a>          
			          </span>			        
			    </div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="area ppDetail">
			<ul class="head" id="JS_brand_com">
				<li class="tab on">品牌评价</li>
			</ul>
			<div class="pane on">
				<!--评论-->
				<div id="wyReping" class="area">
					<div class="commentWrap">
						<p class="commentNotice">							
							<span style="display: block;">发表评论，请先登录</span>
							
							<b class="notice"></b>
						</p>
						<div class="DoComment">							
							<textarea title="哈登品牌怎么样？哈登故事是怎么样？你的评论可能是给下一个用户提供最宝贵的意见··· (字数长度在5-200个字之间)">哈登品牌怎么样？哈登故事是怎么样？你的评论可能是给下一个用户提供最宝贵的意见··· (字数长度在5-200个字之间)</textarea>
							<a class="subcom" href="javascript:void(0);">发表评论</a>
							<p class="limit">剩余字数：200</p>
							<input name="brand_id" type="hidden" value="7">
						</div>						

						<p class="descrip">哈登品牌怎么样？看网友如何评价</p>
						<ul class="comments_list">
						<% data.forEach(function(item) { %>							
				            <li class="comments">
				              <div class="infor">
				                <span class="time">发表于<i><%=item.com_time %></i></span>
				                <em><%=item.username %></em>
				                <p><%=item.content %></p>
				              </div>
				            </li>
				        <% });%>				        				            	        
						</ul>				      	
					 </div> 
				</div>
			</div>
		</div>	
	</div>

<% include ../common/footer %>		
</body>
</html>