<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript" src="javascripts/js/personal.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">欧文<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->
	<div id="subComm" class="subComm">  
		<div class="tit">温馨提示 <i class="close"></i></div>  
		<div class="tipinfo">    
			<span class="icon"></span>    
			<div class="info">        
				<p>恭喜，评论成功！</p>  
			</div>  
		</div>  
		<span class="btn">确定</span>
	</div>
	<div id="ppIntroduce">
		<div class="ppTitle area">
			<div class="ppLogo">
				<span><img src="images/img/jordan_descri.png" alt="乔丹品牌"></span>
			</div>
			<div class="ppName">
				<h1>乔丹的故事</h1>
		        <p>迈克尔·乔丹（Michael Jordan），1963年2月17日生于纽约布鲁克林，前美国职业篮球运动员，司职得分后卫，历史上最伟大的篮球运动员。
				1984年的NBA选秀大会，乔丹在首轮第3顺位被芝加哥公牛队选中。  1986-87赛季，乔丹场均得到37.1分，首次获得分王称号。  1990-91赛季，乔丹连夺常规赛MVP和总决赛MVP称号，率领芝加哥公牛首次夺得NBA总冠军。  1997-98赛季，乔丹获得个人职业生涯第10个得分王，并率领公牛队第六次夺得总冠军。  2009年9月11日，乔丹正式入选NBA名人堂。</p>
			    <div class="ppInfor">
			          <span>			          
			              <a target="_blank" href="/jordan">乔丹品牌专场&gt;&gt;</a>          
			          </span>			        
			    </div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="area ppDetail">
			<ul class="head" id="JS_brand_com">
				<li class="tab on">品牌评价</li>
			</ul>
			<div class="pane on">
				<!--评论-->
				<div id="wyReping" class="area">
					<div class="commentWrap">
						<p class="commentNotice">
							<b class="notice"></b>
						</p>
						<div class="DoComment">							
							<textarea title="乔丹品牌怎么样？乔丹故事是怎么样？你的评论可能是给下一个用户提供最宝贵的意见··· (字数长度在5-200个字之间)">乔丹品牌怎么样？乔丹故事是怎么样？你的评论可能是给下一个用户提供最宝贵的意见··· (字数长度在5-200个字之间)</textarea>
							<a class="subcom" href="javascript:void(0);">发表评论</a>
							<p class="limit">剩余字数：200</p>
							<input name="brand_id" type="hidden" value="1">
						</div>						

						<p class="descrip">乔丹品牌怎么样？看网友如何评价</p>
						<ul class="comments_list">
						<% data.forEach(function(item) { %>							
				            <li class="comments">
				              <div class="infor">
				                <span class="time">发表于<i><%=item.com_time %></i></span>
				                <em><%=item.username %></em>
				                <p><%=item.content %></p>
				              </div>
				            </li>
				        <% });%>				        				            	        
						</ul>				      	
					 </div> 
				</div>
			</div>
		</div>	
	</div>

<% include ../common/footer %>		
</body>
</html>