<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript" src="javascripts/js/personal.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">欧文<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->


	<article id="container" class="area">
  		<aside class="left">
			<h3>账户信息</h3>
			<ul>
			   	<li><a href="personal">基本资料</a></li>
			</ul>
			<h3>安全中心</h3>
			<ul>
			  <li class="cur"><a href="javascript:void(0);">修改密码</a></li>
			</ul>
			<h3>我的点赞</h3>
			<ul>
			  <li><a href="fingerdeal">点赞商品</a></li>
			</ul>
			<h3>我的收藏</h3>
			<ul>
			  <li><a href="dealcoll">收藏商品</a></li>
			</ul>
		</aside>

  		<section class="p_box">
		    <div class="bindinghd">
		      <h2>安全中心</h2>
		    </div>
		    <div class="navtag">
		      <ul>
		        <li class="cur">
		          <span>修改密码</span>
		        </li>
		      </ul>
		    </div>
			<ul class="securityul passwdSetup">
		        <li>
		          <div class="infobox">
		            <dl class="ul_list clear">
		              <dd>
		                <label>原密码：</label>
		                <input type="password" class="set1" id="oldPw">
		                <span class="pwnotice"></span>
		              </dd>
		              <dd>
		                <label>新密码：</label>
		                <input type="password" class="set1" id="pw">
		                <span class="pwnotice"></span>
		              </dd>
		              <dd>
		                <label>确认新密码：</label>
		                <input type="password" class="set1" id="newPw">
		                <span class="pwnotice"></span>
		              </dd>
		              <dd>
		                <a href="javascript:;" class="btn submitPw">修&nbsp;改</a>
		                <a href="javascript:;" class="btn resetPw">重新输入</a>
		                <input id="success_return_to" name="success_return_to" type="hidden">
		              </dd>
		            </dl>
		          </div>
		        </li>
		    </ul>
  		</section>
	</article>
<% include ../common/footer %>		
</body>
</html>