<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript" src="javascripts/js/personal.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">欧文<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->


	<article id="container" class="area">
  		<aside class="left">
			<h3>账户信息</h3>
			<ul>
			   	<li class="cur"><a href="javascript:void(0);">基本资料</a></li>
			</ul>
			<h3>安全中心</h3>
			<ul>
			  <li><a href="modifypw">修改密码</a></li>
			</ul>
			<h3>我的收藏</h3>
			<ul>
			  <li><a href="dealcoll">收藏商品</a></li>
			</ul>
		</aside>

  		<section class="p_box">
		    <div class="bindinghd">
		      <h2>账户信息</h2>
		    </div>
		    <div class="navtag">
		      <ul>
		        <li class="cur">
		          <span>基本资料</span>
		        </li>
		      </ul>
		    </div>
		    <div class="profile_info" id="profile_form">    
		      <div class="set_box">
		        <div class="item uname">
		          <label>昵称：</label>
		            <span><%= data[0].nickname %></span>
		        </div>
		        <div class="item uname">
		          <label>邮箱：</label>
		          	<span><%= data[0].email %></span>
		        </div>
		      </div>
		    </div>
  		</section>
	</article>
<% include ../common/footer %>		
</body>
</html>