<!DOCTYPE html>
<html>
<head>
	<% include common/head %>	
</head>

<body>
	<header>
		<% include common/header %>	
		<div id="head_nav">
	  		<div class="head_nav area">
	    		<div class="l">
	    		<a class="on" href="/">首页<i></i></a>
		        <a class="" href="/jordan">乔丹<i></i></a>     
		        <a class="" href="/kobe">科比<i></i></a>
	      		<a class="" href="/james">詹姆斯<i></i></a>
		        <a class="" href="/durant">杜兰特<i></i></a>
		        <a class="" href="/paul">保罗<i></i></a>
		        <a class="" href="/curry">库里<i></i></a>
		        <a class="" href="/harden">哈登<i></i></a>
	     	    <a class="" href="/morestar">更多...<i></i></a>
	     	    <!-- 格里芬，欧文，罗斯，安东尼 -->
	    	  </div>   
	  		</div>
		</div>    
	</header><!-- /header -->
	<div class="head_banner">
		<div id="banner">
			<a href="javascript:0"><img src="images/img/banner1.png" alt="赛场至尊，霸气十足" /></a>
			<a href="javascript:0"><img src="images/img/banner2.png" alt="疯狂球星，王者决战" /></a>
			<a href="javascript:0"><img src="images/img/banner3.png" alt="篮球宝贝，为你而狂" /></a>
			<ul>
				<li>●</li>
				<li>●</li>
				<li>●</li>
			</ul>
			<span></span>
			<strong></strong>
		</div>
	</div>
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span>全部品牌</span>
        </p>
      </div>
      
    </div>

	<div class="area ">
	    <div class="dealbox">
	    	<% include common/deals %>
	 	</div>       
	</div>

<% include common/footer %>	 
</body>
</html>
