 
.youbanner {margin-top: 10px;height: 240px;}
.dealbox{width: 1200px;}
.jordan_banner{background: url('image/jordan_banner.png') top center no-repeat #0a063d;}
.kobe_banner{background: url('image/kobe_banner.png') top center no-repeat #0a063d;}
.james_banner{background: url('image/james_banner.png') top center no-repeat #0a063d;}
.durant_banner{background: url('image/durant_banner.png') top center no-repeat #0a063d;}
.paul_banner{background: url('image/paul_banner.png') top center no-repeat #0a063d;}
.irving_banner{background: url('image/irving_banner.png') top center no-repeat #0a063d;}
.harden_banner{background: url('image/harden_banner.png') top center no-repeat #0a063d;}
.more_banner{background: url('image/more_banner.png') top center no-repeat #0a063d;}

/*默认deal样式*/
.deal .con:hover{border:1px solid #ec6060;}
.deal .con{background-color: #fff;width:225px;height:270px; float:left;margin:0 24px 20px 0; display: inline;text-align: left;border: 1px solid transparent;position: relative;line-height: 20px;z-index: 100;}
.deal .con .deleColl{
	display: none;
	position: absolute;
    top: 4px;
    left: 154px;
    width: 71px;
    height: 30px;
    font: 16px "微软雅黑";
    color: #999;
    cursor: pointer;
}
.con>a{font-size:0;display: block;background-color: #fff;}
.deal img{width: 182px;height: 182px;margin-bottom: 10px;z-index: 100;}
.deal img.bdg_img{height: 30px; position: absolute; left: 1px; bottom: 98px; margin-bottom: 0;z-index: 10;}
.deal .dealon img.bdg_img{left: 0px;bottom: 97px;}
.deal img::after{content: ""; height: 20px; width: 20px; display: block;}
.deal h3{padding:0px 0px 5px 10px; height:20px;overflow: hidden; text-align:left;font:14px/20px "microsoft yahei";white-space: nowrap;text-overflow:ellipsis;width: 194px;background-color: #fff;}
.deal h3 b{display: none;}
.deal h4{display: inline-block;height:30px;padding:0 0 0 10px;overflow: hidden; text-align:right;background: #fff;line-height: 30px;}
.deal h4 span{width: 110px; float:left;color:#e02f2f;font-family: "tahoma"; line-height: 13px;font-size: 12px;text-align: left;}
.deal h4 em{padding-right: 10px;color:#fd4700;font:16px/30px "微软雅黑";float:left;font-weight: bold;}
.deal h4 em i{font-size: 30px;}
.brandstyle .con h4 em i{font-size: 40px;}
.brandstyle .con h4 em .qi{font-size: 18px;font-family: "微软雅黑";font-weight: bold;float: right; margin-top: 5px;*float: none;}
.deal h4 em b{font-family: "微软雅黑";font-weight: normal;font-size: 16px;}
.deal h4 span i{text-decoration: line-through;padding: 0;font-size: 12px;color: #999;font-family: "Arial";}
.deal h4 span b{font: 13px "微软雅黑";color: #999;font-weight: normal;padding: 0 3px 0 3px;}
.deal.dealstyle_brand_index h4 span b{display: none;}
.deal.dealstyle_brand_index h4 .icon_bydj{display: none;}

/*hover*/
.deal .dealon{border:1px solid #ef6060;z-index: 101;padding:0;}
.deal .dealon h5,.deal .dealon h6,.deal .dealon .mycol{display: block;font-family: "microsoft yahei";}
.deal .dealon .newicon{top: -6px;left: -1px;}
.deal .dealon .mark{right:1px;top: 145px;}
.deal .dealon .kttime{left:9px;top:177px;}
.deal .dealon .youhuiquan{top: -6px;left: -1px;}



/*推荐deal*/
.dealstyle4 .con{width:218px;height:237px; float:left;border:2px solid #fff;padding:8px 9px 0px;margin:0 7px 8px 0; display: inline;text-align: left;background: #fff;border-color: #FFFFFF #E2E2E2 #E2E2E2 #FFFFFF;_margin:0 4px 8px 0;position: relative;z-index: 100;}
.dealstyle4 img{width: 220px;height: 150px;margin-bottom: 10px;}
.dealstyle4 h3{padding: 0px 0px 5px 0px; height:20px;margin-bottom: 5px;overflow: hidden; text-align:left;font:12px/20px "";white-space: nowrap;text-overflow:ellipsis;width: 100%;color: #333;}
.dealstyle4 h3 a{color: #333;}
.dealstyle4 h3 a:hover{color: #C00;}
.dealstyle4 h3 b{font-weight: normal;display:inline;}
.dealstyle4 .con>a{font-size:0;display: block;text-align: center;}
.dealstyle4{position: relative;line-height: 20px;}
.dealstyle4 h4{height:38px!important;padding:4px 0;overflow: hidden; text-align:right;background: #fff;line-height: 36px;}
.dealstyle4 h4 a{display: none !important;}
.dealstyle4 h4 span{float:left;color:#e02f2f;font-family: "tahoma"; line-height: 16px;font-size: 14px;text-align: left;margin-top: -5px;}
.dealstyle4 h4 em{color:#e02f2f;letter-spacing:-2;font:28px/36px tahoma,Arial;float:left;}
.dealstyle4 h4 em i{font-size: 20px;}
.dealstyle4 h4 em b{font-family: "Microsoft Yahei",Arial;font-weight: normal;font-size: 19px;}
.dealstyle4 h4 span i{text-decoration: line-through;padding: 0 5px;font-size: 12px;color: #999;font-family: "Arial";}
.dealstyle4 h4 span u{display: none;text-decoration: none;}
.dealstyle4 h4 span b{display:none;}
.dealstyle4 h4 .icon_bydj{width:120px;}
.dealstyle4 h4 a{display: inline-block;width: 87px;height: 31px;background: url(http://z5.tuanimg.com/v1/ju/index/img/dbg1.png) no-repeat 0 -256px;_background: url(http://z5.tuanimg.com/v1/ju/index/img/dbg1_ie6.png) no-repeat 0 -256px;color:#FFFFFF;text-align: center;font: 14px/31px "";margin-top: 0px;}
.dealstyle4 h4 a:hover{opacity: 0.8;-moz-opacity:0.8;filter: alpha(opacity=80);text-decoration: none;color:#FFFFFF;}
.dealstyle4 h5,.dealstyle4 h6{display: none;position: absolute;left:-2px;top:245px;width: 216px;_width:218px;height: 20px;padding:10px 10px 0 10px;overflow: hidden;text-align:left;background: #f4f4f4;border:2px solid #ef6060;border-width: 0 2px;color: #333}
.dealstyle4 h6{padding-top: 5px;}
.dealstyle4 h5 em{display: block;float: left;width: 62px;height: 20px;vertical-align: middle;overflow: hidden;color: #999;}
.dealstyle4 h5 i{display: block;float: left;height: 20px;}
.dealstyle4 h5 .q1{display: block;float: left;width: 51px;height: 16px;background: url(http://z5.tuanimg.com/v2/ju/img/icon1.png) no-repeat 0 -37px;opacity: 0.7;filter:alpha(opacity=70);margin: 2px 0 0 5px;}
.dealstyle4 h6{height: 20px;top:275px;text-align:left;border-width: 0 2px 2px;}
.dealstyle4 h6 em{color:#999;}
.dealstyle4 h6 a{background: #f4f4f4;color:#e02f2f;display: block;width:36px;height: 20px;position: absolute;right:10px;top: 3px;text-align: right;}
.dealstyle4 .newicon{left: 9px;position: absolute;top: 2px;width: 55px; height: 48px;padding: 0; background: url("http://z5.tuanimg.com/v2/ju/img/xinpin.png") no-repeat 0 0;}
.dealstyle4 .mycol{display: none;height: 18px;position: absolute;right:17px;top: 17px;text-align: right;overflow: hidden;}
.dealstyle4 .mycol a i,.dealstyle4 .mycol a em{float:left;display: inline;height: 18px;background: url(http://z5.tuanimg.com/v1/ju/index/img/dbg1.png) no-repeat 0 -189px;vertical-align: top;overflow: hidden;color:#fff;padding-left:17px;line-height: 18px;}
.dealstyle4 .mycol a em{background-position: 100% -189px;padding:0 4px 0 0;font-family: Arial;width:0; overflow: hidden;}
.dealstyle4 .mycol a:hover i{background-position: 0 -208px;}
.dealstyle4 .mycol a:hover em{background-position: 100% -208px;}
.dealstyle4 .mycol a.on i,.dealstyle4 .mycol a.on:hover i{background-position: 0 -227px;}
.dealstyle4 .mycol a.on em,.dealstyle4 .mycol a.on:hover em{background-position: 100% -227px;}
.dealstyle4 .mark{display: none;}
.dealstyle4 .kticon{display: none;width: 88px;height: 33px;position: absolute;left:207px;top: 272px;font:14px/33px "";text-align:center;}
.dealstyle4 .mark{background: url("http://z5.tuanimg.com/v1/ju/index/img/deal_stat.png") no-repeat 0 0;_background-image:url(http://z5.tuanimg.com/v1/ju/index/img/deal_stat_ie6.png);height: 90px;position: absolute;right:1px;top: 145px;width: 103px;}
.dealstyle4 .zt1 .mark{display: none}
.dealstyle4 .kttime{display:none;position:absolute;left:10px;top:178px;height:22px;line-height:22px;color:#fff;background:rgba(0,0,0,.8);*background:#000;filer:alpha(opacity=80);padding:0 7px;}
.dealstyle4 .dealon{border:2px solid #ef6060;padding: 8px 9px 0px;z-index: 101;}
.dealstyle4 .dealon h4 a{*position: relative;*top: 3px;_top: 0;}
.dealstyle4 .dealon h5,.dealstyle4 .dealon h6,.dealstyle4 .dealon .mycol{display: block;}
.dealstyle4 .dealon .mycol,.dealstyle4 .dealon h6 em,.dealstyle4 .dealon h6 span{display: none;}
.dealstyle4 .dealon .newicon{top: 2px;left: 9px;}
.dealstyle4 .dealon .mark{right:0px;top: 144px;}
.dealstyle4 .dealon .kttime{left:9px;top:177px;}
.dealstyle4 h4 span strong b.i5{display: none;}
.dealstyle4 p, .dealstyle4 h5, .dealstyle4 h6{display: none;}
.dealstyle4 .sold{position: absolute;font: 12px/12px "宋体";color: #979797;right: 15px;bottom: 16px;display: block;}
.dealstyle4 .sold em{font-weight: bold;}
.dealstyle4 .dtype{position: absolute;font: 12px/16px "宋体";color: #979797;right: 15px;bottom:35px;display: block;overflow: auto;}
.dealstyle4 .dtype span{display: block;float: left;margin-left: 5px;}
.dealstyle4 .dtype em{background: url(http://z5.tuanimg.com/v2/ju/img/icon4.png) no-repeat 0 0;_background-image: url(http://z5.tuanimg.com/v2/ju/img/icon4_png8.png);width: 16px;height: 16px;display: block;float: left;}
.dealstyle4 .dtype em.e1{background-position: -41px -18px;}
.dealstyle4 .dtype em.e2{background-position: -53px 0px;}
.dealstyle4 .dtype em.e3{background: url(http://z5.tuanimg.com/v2/ju/img/icon5.png) no-repeat 0 0;}
.dealstyle4 .dealon h4 span strong b.i5{display: none;}
.dealstyle4 .dealon h5, .dealstyle4 .dealon h6{display: none;}
.dealstyle4 .con .bdg_img{display: none;}
.dealstyle4 .icon_xianshiqiang{position: absolute; top: -6px; left:-2px;}
.dealstyle4 .dealon .icon_xianshiqiang {  top: -6px;  left: -2px;}

.deal .con>a{outline: medium none;display: inline-block;}
/*品牌团首页商品样式*/
.dealstyle_brand_index h4 span u{display:block;color: #c7000b;padding:5px 0;}
.dealstyle_brand_index .dtype{position: absolute; font: 16px/60px "microsoft yahei"; color: #bd0100; right: 15px; bottom: 32px; display: block; overflow: auto;}
.dealstyle_brand_index .dtype span{color: #a80058;}
.dealstyle_brand_index .dtype .e4{background: url(http://z5.tuanimg.com/v2/core/img/shouye_new_img.png) no-repeat -674px -5px; _background-image: url(http://z5.tuanimg.com/v2/ju/img/ju_icons6.png); width: 21px; height: 16px; display: block; float: left;}
.dealstyle_brand_index .sold{ position: absolute; font: 12px/12px "microsoft yahei";*line-height: 15px; color: #666666; right: 14px; bottom: 21px;*bottom: 19px; display: block;}
.dealstyle_brand_index .sold a{color: #666666;text-decoration: none;}


.mcol6 {
    padding-bottom: 30px;
}
.mcol6 .my_favo_msg {
    height: 120px;
    width: 778px;
    padding-left: 530px;
    padding-top: 48px;
}
.mcol6 .my_favo_msg span.noCollection_pic {
    display: inline-block;
    width: 49px;
    height: 60px;
    margin-right: 16px;
    background: url('image/nocollection.png') no-repeat 0 0;
}
.mcol6 .my_favo_msg span.noCollection_msg {
    display: inline-block;
    width: 250px;
    height: 60px;
    text-align: left;
}
.mcol6 .my_favo_msg span.noCollection_msg p {
    color: rgb(102, 102, 102);
    margin-bottom: 5px;
    font: 14px/19px "微软雅黑";
}
.mcol6 .my_favo_msg span.noCollection_msg p a {
    color: rgb(0, 153, 204);
    font: 14px "微软雅黑";
}
