/*
* author:zhengxiaohua 20151125;
* decri:商品样式，banner样式等;
*/

/*顶部banner栏css样式*/
.head_banner{width: 1360px;height: 240px;margin:0 auto;margin-bottom: 10px;background: #0a063d;}
#banner {width:980px;height:240px;float:left;margin: 0 auto;position:relative;overflow:hidden;margin-left: 184px;margin-top: 0;}
#banner img {display:block;position:absolute;top:0;left:0;z-index:1}
#banner ul {position:absolute;top:216px;left:420px;z-index:4;}
#banner ul li {float:left;padding:0 5px;font-size:16px;color:#999;cursor:pointer;list-style: none;}
#banner span {width:980px;height:25px;position:absolute;top:214px;left:0;background:#333;opacity:0.3;z-index:3;}
#banner strong {position:absolute;top:214px;left:48px;color:#fff;z-index:4;font: 16px "微软雅黑";padding-bottom: 5px;}

/* all deal */
.area {width: 980px;margin: 0 auto;position: relative;}
.canvas_bg{width: 980px;margin: 0 auto;position: relative;background: url('image/action.png') top center no-repeat #fff;}
.brand_category_tit {position: relative;margin-bottom: 10px;}
.brand_category_tit p.bct_dividing {height: 1px;background: #ccc;width: 100%;position: absolute;top: 14px;left: 0;z-index: -1;}
.bct_info{text-align: center;}
.brandbox .brand_category_tit p.bct_info span {background-position: 0 -35px;}
.brand_category_tit p.bct_info span {font: 18px/20px "微软雅黑";color: #333;vertical-align: middle;background: url(image/brand_tit.png) 0 -2px no-repeat #f2f2f2;padding: 4px 18px 4px 80px;display: inline-block;}
.brand_category_tit p.bct_info span.comm_charts{background: #f2f2f2;padding: 4px 18px 4px 18px;}

/* 评论页 */
.charts{margin: 10px auto 0;width:600px;height:100%;}
#myChart{margin:0 auto;} 
.comments{margin: 10px auto 0;width:980px;height:100%;}
.comments ul{}
.comments ul li{width: 960px;padding: 0 10px;list-style:none;color: #666;font-family: "微软雅黑";}
.comments ul li span{display: inline-block;line-height: 26px;}
.comments ul li span.commonts_user{width: 90px;height: 58px;margin-right: 20px;padding-left: 10px;font-size: 16px;text-align: center;color: orange;}
.comments ul li span.commonts_con{width: 820px;height: auto;padding-left: 10px;font: 15px "楷体";text-align: left;vertical-align:middle;overflow: hidden;}

/* 用户管理 */
.user_box{margin: 0 auto;width: 980px;height: auto;background: #f2f2f2;margin-bottom: 50px;}
.user_box .admin{display: inline-block;width: 888px;height: auto;margin-left: 50px;margin-right: 66px; }
.user_box .user{display: inline-block;width: 888px;height: auto;}
.user_box dl{margin-bottom: 20px;}
.user_box dl dt{padding: 10px 0 10px 10px;	display: inline-block;margin-right: 20px;font: 18px "微软雅黑";margin-bottom: 15px;}
.user_box dl dt a{font: 18px "微软雅黑";}
.user_box dl dd{border: 1px solid #1B5D8A;padding: 7px 0 7px 10px;margin-top: 5px; font: 14px "微软雅黑";color: #1B5D8A;}
.user_box dl dd span{margin-right: 10px;float: right;display: none;cursor: pointer;color: #C7000B;}
.user_box dl dd span.email{position: absolute;left: 400px;display: inline-block;margin-right: 200px;color: #1B5D8A;cursor: auto;}