/*
* author:zhengxiaohua 20151126;
* decri:导航，底部等样式;
*/

*{margin:0;padding:0;}
body {background-color:#f2f2f2;}
a {outline: none;color: #666;text-decoration: none;}
a:hover, a:focus {color: #ec1611;}

#sidebar {position: fixed;top: 120px;left: 10px;width: 160px;background: url(image/sidebar_new.png) no-repeat #fff;height: 360px;z-index: 10000;visibility: visible;margin: 0;padding: 0;border-top: 4px solid #ec1611;}
#sidebar ul{margin:20px 0;}
#sidebar ul.sidebar_info{border-bottom: 1px solid #ec1611;}
#sidebar ul li{margin:20px 10px;list-style: none;font: 14px "microsoft yahei";color: #c7000b;}
#sidebar ul li a{font: bold 14px "microsoft yahei";color: #c7000b;}
#sidebar ul li a:hover{text-decoration: underline;}
.to_top{position: fixed;bottom: 10px;right: 20px;display: none;}
.to_top span{display: inline-block;width: 112px;height: 128px;background: url(image/totop.gif) no-repeat;cursor: pointer;}

header {background-color:#f2f2f2;box-shadow: 0 -1px 2px #111111;color:#fff;display:block;height:77px;position:relative;width:100%;z-index:100;margin-bottom: 35px;}
.header_con{width: 980px;height: 100%;margin: 0 auto;}
header .header_con img{float:left;margin-left: 0;margin-top: 20px;}
.header_search {padding:6px 0 0 0;float:left;margin-top: 13px;margin-left: 52px;}
#search_button{width: 75px;height: 42px;font: 14px/40px "微软雅黑";margin-top: 14px;} 
.header_search .search {width:300px;height:40px;border:1px solid #ccc;background:#fff;color:#666;font:14px "微软雅黑";text-indent:5px;}
.header_button {padding-top:5px;float:left;color: #fff;}
.header_member {position: absolute;left: 1000px;top: 0;width: 400px;height:40px;color:#666;font:14px/40px "微软雅黑";}
.header_member a {text-decoration:none;color:#555;font:14px "微软雅黑";margin: 0 5px;}
.header_member a:hover{color: #ec1611;}

header .header_con h2{font-size:22px;font-weight:normal;left:80%;margin-left:-400px;padding:22px 0;position:absolute;width:540px;}
header .header_con a.stuts,a.stuts:visited{border:none;text-decoration:none;color:#fcfcfc;font-size:14px;left:50%;line-height:31px;margin:23px 0 0 110px;position:absolute;top:0;}
header .header_con .stuts span {font-size:22px;font-weight:bold;margin-left:5px;}
#head_nav {width: 100%;background: #c7000b;height: 35px;line-height: 34px;font-family: "微软雅黑";}
.head_nav_fix {position: fixed;top: 0;opacity: 0.8;z-index: 9999;}
.head_nav{margin: 0 auto;width: 980px;}
.head_nav .l, .head_nav .l a {position: relative;}
.head_nav .l a, .head_nav .r a {color: #fff;font: 14px/35px "微软雅黑";}
.head_nav .l a {width: 88px;float: left;height: 35px;overflow: hidden;text-decoration: none;text-align: center;}
.head_nav .l a:hover {background: #ec1611;}
.head_nav .l a i {color: #dd0001;border-right: 1px solid #dd0001;}
.center, .l, .left, .r, .right {display: inline;float: left;}
.head_nav .l a i, i.line {position: absolute;height: 17px;right: 0;top: 50%;margin-top: -8px;}
.head_nav .l a.on, .head_nav .l a.on:hover, .head_nav .r_con a.on, .head_nav .r_con a.on:hover {background: #ec1611;color: #FFF;font-weight: 700;}

/* 底部 */
.about {position: relative;border-top: 3px solid #E02F2F;background: #fff;margin-top: 20px;clear: both;}
.about h1 {padding-top: 20px;height: 50px;text-align: center;font: 14px "微软雅黑";}

/* personal */
#container {background: url(image/bgy1.png) repeat-y top left;}
#container aside.left {width: 140px;text-align: left;padding: 20px 0 20px;min-height: 500px;height: auto;font: 12px '微软雅黑';display: inline;float: left;background: #D9D5D5;}
.sidePanel_user_rank {margin: 10px 0;}
#container aside.left h3 {font: 16px/28px "微软雅黑";color: #000;padding-left: 15px;}
#container aside.left ul {margin-bottom: 10px;list-style: none;}
#container aside.left ul li {height: 28px;line-height: 28px;list-style: none;font: 14px "微软雅黑";}
#container aside.left ul li a {color: gray;display: block;border-left: 2px solid #D9D5D5;padding-left: 28px;}
#container aside.left ul li.cur a, #container aside.left ul li a:hover {border-left-color: #bababa;background: #f2f2f2;text-decoration: none;}

.set_box .item label {margin-left: -100px;text-align: right;float: left;width: 112px;height: 36px;font: 15px/36px "微软雅黑";display: inline;color: #333;}
.set_box .item span{font: 15px/36px "微软雅黑";color: #333;}
.p_box {width: 800px;float: left;padding: 20px 20px;}
.bindinghd {text-align: left;line-height: 30px;color: #999;}
.bindinghd h2 {text-align: left;font: 800 14px/30px "";color: #333;margin: 0 0 10px;}
.navtag {height: 28px;border-radius: 2px 2px 0 0;line-height: 28px;text-align: center;overflow: hidden;border-bottom: 2px solid #dd0001;margin: 0 0 20px;}
.navtag ul {margin-right: -1px;float: left;}
.navtag ul li {width: 80px;float: left;border: 1px solid #e4e4e4;margin: 0 10px 0 0;}
.navtag ul li.cur {background: #dd0001;border-color: #dd0001;}
.navtag ul li span{color: #fff;}
.profile_info {padding-left: 104px;width: 696px;}
.set_box {text-align: left;width: 696px;float: left;}
.set_box .item {padding: 0 0 20px 100px;position: relative;width: 565px;line-height: 30px;}
.profile_info .set_box .uname {line-height: 36px;}

.securityul {text-align: left;width: 800px;float: left;margin: 15px 0 0;list-style: none;}
.securityul li {width: 778px;float: left;padding: 10px;border: 1px solid #dbdbdb;color: #333;line-height: 20px;}
.infobox {width: 798px;float: left;margin: 8px -10px 0 -10px;position: relative;padding: 10px 0;}
.infobox .ul_list {padding: 10px 0;}
.infobox .ul_list dd {width: 538px;float: left;line-height: 32px;padding: 6px 0 6px 260px;}
.infobox .ul_list dd label {width: 260px;float: left;text-align: right;margin: 0 0 0 -260px;position: relative;}
.infobox .ul_list dd .set1 {width: 250px;height: 30px;float: left;line-height: 30px;text-indent: 5px;border: 1px solid #e0e0e0;}
.infobox .ul_list dd span {color: #e02f2f;margin: 0 10px;}
.infobox .btn {width: 115px;height: 35px;display: inline-block;text-decoration: none;cursor: pointer;background: url(image/probg.png) no-repeat;line-height: 35px;color: #fff;font-size: 14px;text-align: center;}





