<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/css/animate-custom.css" />	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">库里<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="on" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span>全部明星</span>
        </p>
      </div>      
    </div>		


	<div class="normalDeals dealHtml" id="normalDeals">
		<div class="area youpin-area>">
			<div class="dealbox">
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/jordan" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="jordan"><img src="images/img/jordan.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/jordan">            
							<h4>NBA全明星：乔丹</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/jordan" target="_blank"></a>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="javascript:0" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="javascript:0"><img src="images/img/Xzavier.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="javascript:0">            
							<h4>NBA全明星：郑晓华</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/kobe" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/kobe"><img src="images/img/kobe.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/kobe">            
							<h4>NBA全明星：科比</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/kobe" target="_blank"></a>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/james" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/james"><img src="images/img/james.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/james">            
							<h4>NBA全明星：詹姆斯</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/james" target="_blank"></a>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/iverson" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/iverson"><img src="images/img/iverson.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/iverson">            
							<h4>NBA全明星：艾佛森</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/iverson" target="_blank"></a>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/maidi" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/maidi"><img src="images/img/maidi.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/maidi">            
							<h4>NBA全明星：麦迪</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/maidi" target="_blank"></a>
				</div>				
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/durant" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/durant"><img src="images/img/durant.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/durant">            
							<h4>NBA全明星：杜兰特</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/durant" target="_blank"></a>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/harden" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/harden"><img src="images/img/harden.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/harden">            
							<h4>NBA全明星：哈登</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/harden" target="_blank"></a>
				</div>
				<!-- one deal -->
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/curry" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/curry"><img src="images/img/curry.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/curry">            
							<h4>NBA全明星：库里</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/curry" target="_blank"></a>
				</div>
				<!-- one deal -->
				<div class="you-deal">
					<div class="you-deal-inner con">      
						<a target="_blank" href="/jorge" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<a target="_blank" href="/jorge"><img src="images/img/jorge.jpg" style="display: inline;"></a>                                
						</div>        
						<a class="ft" target="_blank" href="/jorge">            
							<h4>NBA全明星：乔治</h4>                               
						</a>    
					</div>
					<a class="new_youpin_a" href="/jorge" target="_blank"></a>
				</div>
				<!-- one deal -->
			</div>
		</div>
	</div>
<% include ../common/footer %>		
</body>
</html>