<!-- 评论页 -->
<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript">
		var chartsData = <%= JSON.stringify(locals.commchar) %>; 
	</script>
	<script type="text/javascript" src="javascripts/js/collection.js"></script>
	<script type="text/javascript" src="javascripts/js/charts.js"></script>
	<script type="text/javascript" src="javascripts/js/myCharts.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
		        <a class="" href="/jordan">乔丹<i></i></a>     
		        <a class="" href="/kobe">科比<i></i></a>
	      		<a class="" href="/james">詹姆斯<i></i></a>
		        <a class="" href="/durant">杜兰特<i></i></a>
		        <a class="" href="/paul">保罗<i></i></a>
	        	<a class="" href="curry">欧文<i></i></a>
		        <a class="" href="/harden">哈登<i></i></a>
	     	    <a class="" href="/morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->

	<% include ../common/shoesdeals %>
	
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span class="comm_charts">评论一览</span>
        </p>
      </div>      
    </div>
	
	<div class="canvas_bg">
		<div class="charts">
	 		<canvas id="myChart" width="600" height="600"></canvas>
		</div>
	</div>	
	
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span>评论</span>
        </p>
      </div>      
    </div>

	<div class="comments">
		<ul>
		<% comment.forEach(function(comm) { %>
			<li>
				<span class="commonts_user"><%=comm.commUser%></span>
				<span class="commonts_con"><%=comm.commCon%></span>
			</li>
		<% }); %>	
		</ul>
	</div>
<% include ../common/footer %>		
</body>
</html>