<!DOCTYPE html>
<html>
<head>	
	<% include ../common/head %>
	<script type="text/javascript" src="javascripts/js/charts.js"></script>
	<script type="text/javascript" src="javascripts/js/myCharts.js"></script>	
</head>

<body>
	<header>
		<% include ../common/header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
		        <a class="" href="/jordan">乔丹<i></i></a>     
		        <a class="" href="/kobe">科比<i></i></a>
	      		<a class="" href="/james">詹姆斯<i></i></a>
		        <a class="" href="/durant">杜兰特<i></i></a>
		        <a class="" href="/paul">乔治<i></i></a>
		        <a class="" href="/curry">库里<i></i></a>
		        <a class="" href="/harden">哈登<i></i></a>
	     	    <a class="" href="/morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->

	<div class="newDeals dealHtml">
				 
		 <div class="youpinRecommDeal clear">
		  <a target="_blank" href="javascript:0"><img src="images/deals/j1.jpg">
		  </a>  
		  <div class="rd-goodsDetail">      
		  	<div class="rd-goodsTitle">
		  		<a target="_blank" href="javascript:0">【乔丹】乔丹篮球鞋</a>      
		  	</div>      
		  	      
		  	<a target="_blank" href="" class="rd-goodslist">
			  	<ul>          
			  		<li>精选国外材料，免洗抗皱，舒适有型</li>          
			  		<li>精彩评论显示价格可亲，彰显气质</li>          
			  		<li>做工精细，时尚百搭，适合各种年龄男士</li>      
			  	</ul>
		  	</a>      
		  	<h3 class="rd-goodsCtrl">
			  	         
			  	<a class="rd-goodsBuy" href="javascript:0" target="_blank">立即购买</a>
		  	</h3> 
		  </div>
		  <a class="new_youpin_a" href="javascript:0" target="_blank"></a>
		 </div>
	</div>
	
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span class="comm_charts">评论一览</span>
        </p>
      </div>      
    </div>

	<div class="charts">
	 	<canvas id="myChart" width="600" height="600"></canvas>
	</div>
	
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span>评论</span>
        </p>
      </div>      
    </div>

	<div class="comments">
		<ul>
			<li>
				<span class="commonts_user">Xz***r</span>
				<span class="commonts_con">质量不错，颜色好，穿着舒服，是一款物超所值的蓝球鞋。买来就是打篮球的时候穿的，穿起来非常舒服，款式也非常时尚，卖家服务态度好，物流也非常给力.再买鞋还会选你家的。</span>
			</li>
			<li>
				<span class="commonts_user">宝***妖</span>
				<span class="commonts_con">刚刚拿到就试了一下很。有弹性，很透气。不错不错，给个赞。再穿了和朋友去打篮球。这篮球鞋穿着很舒服，打篮球也很透气，不闷脚，不用担心脚臭。穿了好几次了，弹性很棒。对膝盖和脚踝的保护都很好，给力的战靴。</span>
			</li>
			<li>
				<span class="commonts_user">132***3</span>
				<span class="commonts_con">首先，客服妹子很萌，服务态度超级好，给我解答了各种问题，给了建议的尺码也很合适。还核对了各种信息，有一种宾至如归的感觉，老板要给客服美美加工资啊。
其次，鞋子真的很不错，可以看得出来，不论是做工还是造型，都是超级好。包装整齐，吊牌也很清晰，查验一下正品无误，鞋子颜色很正，尺码也正好合脚。试穿了一下，鞋子很轻很软，不会夹脚不会磨脚，舒适透气，夏天穿特别适合。鞋子皮面很有质感，一看就知道是好货色。特别适合喜爱打篮球的人穿。</span>
			</li>
			<li>
				<span class="commonts_user">an***y</span>
				<span class="commonts_con">打完篮球以后发现，这款鞋子真挺不错的细节做得很好，穿上很舒服，透气轻便，弹性棒。没有明显的褶皱，突破防滑性能不错 减震性也可以。很对得起这个价格，不负多年了对乔丹的信任，必须追评下，下次来买白色的,昨天打球，球友看了觉得不错，一说到价格都说要来买。真的物美价廉，超值。赚大了</span>
			</li>	
		</ul>
	</div>
<% include ../common/footer %>		
</body>
</html>