<!-- 数据爬取 -->
<!DOCTYPE html>
<html>
<head>	
	<% include head %>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/css/animate-custom.css" />	
</head>

<body>
	<header style="margin-bottom: 48px;">
		<% include header %>	
		<div id="head_nav">
  		<div class="head_nav area">
    		<div class="l">
    		<a class="" href="/">首页<i></i></a>
	        <a class="" href="jordan">乔丹<i></i></a>     
	        <a class="" href="kobe">科比<i></i></a>
      		<a class="" href="james">詹姆斯<i></i></a>
	        <a class="" href="/durant">杜兰特<i></i></a>
		    <a class="" href="/paul">保罗<i></i></a>
	        <a class="" href="curry">欧文<i></i></a>
	        <a class="" href="harden">哈登<i></i></a>
     	    <a class="" href="morestar">更多...<i></i></a>
    	  </div>   
  		</div>
		</div>   
	</header><!-- /header -->
	<div class="brandbox area">
      <div class="brand_category_tit">
        <p class="bct_dividing"></p>
        <p class="bct_info">
          <span>数据爬取</span>
        </p>
      </div>      
    </div>		


	<div class="normalDeals dealHtml" id="normalDeals">
		<div class="area youpin-area>">
			<div class="dealbox">
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>      						        
						<div class="bd">            
							<img src="images/img/jordan.jpg" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_jordan" href="javascript:0;">            
							<h4>乔丹数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<img src="images/img/kobe.jpg" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_kobe" href="javascript:0;">            
							<h4>科比数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>       
						<div class="bd">            
							<img src="images/img/james.jpg" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_james" href="javascript:0;">            
							<h4>詹姆斯数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<img src="images/img/durant.jpg" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_durant" href="javascript:0;">            
							<h4>杜兰特数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>      
						<div class="bd">            
							<img src="images/img/paul.png" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_jorge" href="javascript:0;">            
							<h4>保罗数据爬取</h4>                               
						</a>    
					</div>
				</div>							
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>      
						<div class="bd">            
							<img src="images/img/irving.png" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_curry" href="javascript:0;">            
							<h4>欧文数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<img src="images/img/harden.jpg" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_harden" href="javascript:0;">            
							<h4>哈登数据爬取</h4>                               
						</a>    
					</div>
				</div>
				<div class="you-deal">
					<div class="you-deal-inner con">
						<a target="_blank" href="javascript:0;" class="outlink">
							<span class="subscript icon_star_yph"></span>
						</a>        
						<div class="bd">            
							<img src="images/img/more.png" style="display: inline;">                                
						</div>        
						<a class="crawlerBtn crawlerBtn_more" href="javascript:0;">            
							<h4>其他数据爬取</h4>                               
						</a>    
					</div>
				</div>
				
				<!-- one deal -->
			</div>
		</div>
	</div>
<% include footer %>		
</body>
</html>