<% data.forEach(function(log) { %>		
<div class="deal dealstyle_brand_index">
	<div class="con">    		
		<a class="goods_img" target="_blank" href="<%=log.title%>">
			<img src="<%=log.picsrc%>" width="312" height="208" style="display: inline;">    			
		</a>    		
		<h3><span class="shoes_brand">【乔丹】</span>品牌球鞋</h3>
		<h4><em><b>¥</b><%=log.price%></em></h4>
		<a href="/dealpage" target="_blank"><h4><em><b>进入评论页&gt;&gt;</b></em></h4></a>
		<div class="dtype"><a href="http://www.52xie.com/<%=log.href%>">进入商店&gt;&gt;</a></div>
	</div>
</div>

<% }); %>