

	<div class="newDeals dealHtml">
		<div class="youpinRecommDeal clear">
		  <a target="_blank" href="javascript:0"><img src="<%=dealIn[0].dealPic%>">
		  </a>  
		  <div class="rd-goodsDetail">      
		  	<div class="rd-goodsTitle">
		  		<a target="_blank" href="javascript:0">￥<%=dealIn[0].dealPrice%></a>      
		  	</div>      		  	     
		  	<a class="rd-goodslist">
			  	<ul>          
			  		<li><%=dealIn[0].dealName%></li>          
			  		<li>下单即派，预计1-4天内送达</li>          
			  		<li>注册磁场VIP即可享受VIP价格</li>      
			  	</ul>
		  	</a>      
		  	<h3 class="rd-goodsCtrl">			  	         
			  	<a class="rd-goodsBuy" href="<%=dealIn[0].dealBuy%>" target="_blank">立即购买</a>
			  	<a class="rd-goodsColl" href="javascript:0" target="_blank">加入收藏</a>
		  	</h3> 
		  </div>		  
		 </div>		 
	</div>