	<div class="newDeals dealHtml">
		<div class="youpinRecommDeal clear">
		  <a target="_blank" href="javascript:0"><img src="images/deals/j1.jpg">
		  </a>  
		  <div class="rd-goodsDetail">      
		  	<div class="rd-goodsTitle">
		  		<a target="_blank" href="javascript:0">【乔丹】乔丹篮球鞋</a>      
		  	</div>      		  	     
		  	<a class="rd-goodslist">
			  	<ul>          
			  		<li>精选国外材料，免洗抗皱，舒适有型</li>          
			  		<li>精彩评论显示价格可亲，彰显气质</li>          
			  		<li>做工精细，时尚百搭，适合各种年龄男士</li>      
			  	</ul>
		  	</a>      
		  	<h3 class="rd-goodsCtrl">
			  	         
			  	<a class="rd-goodsBuy" href="javascript:0" target="_blank">立即购买</a>
		  	</h3> 
		  </div>
		  
		 </div>
		 <div class="youpinRecommDeal clear">
		  <a target="_blank" href="javascript:0"><img src="images/deals/j1.jpg">
		  </a>  
		  <div class="rd-goodsDetail">      
		  	<div class="rd-goodsTitle">
		  		<a target="_blank" href="javascript:0">【乔丹】乔丹篮球鞋</a>      
		  	</div>      
		  	      
		  	<a target="_blank" href="" class="rd-goodslist">
			  	<ul>          
			  		<li>精选国外材料，免洗抗皱，舒适有型</li>          
			  		<li>精彩评论显示价格可亲，彰显气质</li>          
			  		<li>做工精细，时尚百搭，适合各种年龄男士</li>      
			  	</ul>
		  	</a>      
		  	<h3 class="rd-goodsCtrl">
			  	         
			  	<a class="rd-goodsBuy" href="javascript:0" target="_blank">立即购买</a>
		  	</h3> 
		  </div>
		  <a class="new_youpin_a" href="javascript:0" target="_blank"></a>
		 </div>
		 <div class="youpinRecommDeal clear">
		  <a target="_blank" href="javascript:0"><img src="images/deals/j1.jpg">
		  </a>  
		  <div class="rd-goodsDetail">      
		  	<div class="rd-goodsTitle">
		  		<a target="_blank" href="javascript:0">【乔丹】乔丹篮球鞋</a>      
		  	</div>      
		  	      
		  	<a target="_blank" href="" class="rd-goodslist">
			  	<ul>          
			  		<li>精选国外材料，免洗抗皱，舒适有型</li>          
			  		<li>精彩评论显示价格可亲，彰显气质</li>          
			  		<li>做工精细，时尚百搭，适合各种年龄男士</li>      
			  	</ul>
		  	</a>      
		  	<h3 class="rd-goodsCtrl">
			  	         
			  	<a class="rd-goodsBuy" href="javascript:0" target="_blank">立即购买</a>
		  	</h3> 
		  </div>
		  <a class="new_youpin_a" href="javascript:0" target="_blank"></a>
		 </div>
	</div>